#
# Metadata
#
.vagrant
.vscode
__pycache__
.Trash-1001
.DS_Store

#
# Build Files
#
build
*.gcov
*.o
support/nos3_install.log
tmp
core.*
pic.jpg
cam.jpg

#
# Misc
#
*.pcapng
.cdskeyfile
.reservedkeyfile
.resetkeyfile
.venv/

#
# Documentation
#
docs/coverage/coverage_report.*
docs/wiki/_build
docs/wiki/_templates
*.bkp
*.html

# Aranya
components/aranya_ep/fsw/cfs/aranya-client-capi/target
